body {
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear 0s;
}

h1 {
  font-size: 3em;
  font-family: 'Montserrat light', serif;
}

.form {
  width: 80%;
}

#searchButton {
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: none;
}

.search-illustration {
  width: 13em;
  height: 13em;
  object-fit: contain;
}

.header {
  padding: 1em 2em;
  font-family: 'Montserrat Medium', serif;
}

.volume-icon {
  transform: scale(1.8);
  color: #000;
}

.definitions-wrapper {
  width: 80%;
  /* height: 100vh; */
  /* max-height: 27em; */
  background: #f0f0f0;
}

.definitions-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.definitions-wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background-color: #bbb7b7;
}

.definition {
  background: #3b5360;
}

button:active {
  transform: translateY(0.2em);
}

.dark {
  background: #282c34;
  color: #fff;
}

.dark #searchButton {
  background: #1174ff;
  color: #fff;
}

.dark .definitions-wrapper {
  background: #3b3f46;
}

.dark .definition {
  background: #355c6c;
}

.dark .volume-icon {
  color: #fff;
}

@media screen and (max-width: 628px) {
  .form {
    width: 95%;
  }

  .header {
    padding: 0.5em 0;
  }

  .definitions-wrapper {
    width: 95%;
    padding: 0 1.2em;
  }
}
