body {
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear 0s;
}

h1 {
  font-size: 3em;
  font-family: "Montserrat light", serif;
}

.form {
  width: 80%;
}

.header {
  background: #f0f0f0;
  width: 78%;
  font-family: "Montserrat Medium", serif;
}

button:active {
  transform: translateY(0.2em);
}

.definitions-wrapper {
  width: 80%;
  height: auto;
  max-height: 23em;
  background: #f0f0f0;
}

.definition {
  background: #3B5360;
}

.content {
  margin-top: 5em;
}

.dark {
  background: #282C34;
  color: #fff;
}

.dark .definitions-wrapper {
  background: #202E3C;
}

.dark .header {
  background: #202E3C;
}

@media screen and (max-width: 628px) {
  .form {
    gap: 1em;
    width: 95%;
  }

  .header {
    width: 95%;
  }

  .definitions-wrapper {
    width: 95%;
  }
}
