body {
  margin: 0;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.theme-switcher {
  text-align: right;
  margin: 0.5em 1em 0;
  font-family: "Montserrat Medium", serif;
}

h1 {
  font-size: 4.7em;
  margin: 0 0 0.3em;
  text-align: center;
  font-family: "Montserrat ExtraLight", serif;
}

.form {
  display: flex;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
}

.search-box {
  flex: 0.65;
}

.select-language-box {
  flex: 0.35;
  text-align: left;
}

.output {
  width: 80%;
  height: 50%;
  margin: 2.5em auto;
  background: green;
}

.search-output {
  background: green;
}

.search-book-illustration {
  text-align: center;
}

.search-book-illustration p {
  margin: 0;
}

@media screen and (max-width: 628px) {
  h1 {
    font-size: 2em;
  }

  .form {
    gap: 1em;
    width: 95%;
  }
}
