body {
  margin: 0;
}

.app {
  text-align: center;
}

.theme-switcher {
  text-align: right;
  margin: 0.5em 1em 0;
  font-weight: bold;
}

h1 {
  font-size: 4.7em;
  margin: 0 0 0.3em;
}

.form {
  display: flex;
  justify-content: center;
  gap: 2em;
}